* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box !important;
}
body{
  background-color:rgb(255, 255, 255);
}
.bg_img{
  background-image: url(images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  /* width: 100%; */
  text-align: center;
}
.bg_color{
  background-image: linear-gradient(to right, rgba(83, 36, 184, 0.85) , rgba(155, 11, 155, 0.85));
  height: 90vh;
  color: white;
}
.bg_img1{
  background-image: url(images/bg-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  /* width: 100%; */
  text-align: center;
}
.bg_color1{
  background-image: linear-gradient(to right, rgba(83, 36, 184, 0.85) , rgba(155, 11, 155, 0.85));
  height: 70vh;
  color: white;
}
.heading{
  font-size: 45px;
}
.p_sm{
  font-size: 12px;
}
.p_md{
  font-size: 14px;
  font-weight: 500;
}
.play_btn{
  color: rgb(255, 34, 0);
  border: 2px solid orangered;
  border-radius: 100%;
}
.services i{
  color: rgb(255, 34, 0);
  border: 2px solid whitesmoke;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgb(210, 210, 210);
  font-weight: 200 !important;
  font-size: 32px;
}
.sec_three_ul {
  list-style-type: disc !important;
}
.sec_three_ul li{
  color: red;
}
.sec_three_ul li span{
  color: gray;
}
.pricing_ul li{
  color: black !important;
}
ul{
  list-style-type: none;
}
.work_process i{
  color: rgb(255, 34, 0);
  border: 2px solid whitesmoke;
  border-radius: 100%;
  box-shadow: 2px 2px 2px rgb(210, 210, 210);
  font-weight: 200 !important;
  font-size: 32px;
}
a{
  text-decoration: none;
}